<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalles"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label vericalAlignment="center" [text]="this.description" fontSize="30"></Label>
    <Image class="img-rounded" src="http://malsup.github.io/images/p3.jpg" loadMode="async" stretch="none"></Image>
    <GridLayout columns="auto, *, auto" rows="auto, *, *" vericalAlignment="top" backgroundColor="lightgray">
        <Image class="img-rounded" src="~/app/images/tierra.jpg" stretch="none"></Image>
        <GridLayout columns="*, *" rows="*, *, *" col="1" colspan="2" horizontalAlignment="left" vericalAlignment="top" >            
            <Label vericalAlignment="center" [text]="this.description" 
                textWrap="true" colspan="2" minHeight="50" fontSize="20" margin="3"></Label>
            <Label vericalAlignment="bottom" [text]="this.description" color="#10c2b0" textWrap="true" row="1" colspan="2" horizontalAlignment="left" fontSize="14" margin="3"></Label>
            <GridLayout columns="*, *" rows="*, *" col="1" row="2" colspan="2" horizontalAlignment="left" vericalAlignment="bottom" >            
                <Image src="font://&#xF164;" class="far " width="40"></Image>
                <Image src="font://&#xF165;" class="far " col="1" width="40"></Image>
            </GridLayout>
        </GridLayout>                                  
    </GridLayout>
</StackLayout>
